<form action="/names" method='post'>
  <label for="name">Name:</label>
  <input type="text" name="player_1">
  <label for="name">Name:</label>
  <input type="text" name="player_2">
  <input type="submit" value="Submit"
  </form>
